<h1>Login</h1>

<form [formGroup]="loginForm" class="mt-5" (submit)="submit()">
  <div class="formgrid grid">

    <div class="field col-12 sm:col-6 mb-5">
      <span class="p-float-label">
        <input class="w-full" pInputText type="email" id="email" formControlName="email"/>
        <label for="email">E-mail</label>
      </span>
    </div>
    <div class="field col-12 sm:col-6 mb-5">
      <span class="p-float-label">
        <input class="w-full" pInputText type="password" id="pword" formControlName="password">
        <label for="pword">Password</label>
      </span>
    </div>

  </div>

  <p-button label="submit" (onClick)="submit()"/>
</form>

<p-toast/>
