<h2>Form exercice</h2>

<form class="mt-5" [formGroup]="formGroup">

  <div class="formgrid grid">

    <div class="field col-12 md:col-6">
      <span class="p-float-label">
        <input pInputText type="text" id="firstname" formControlName="firstName"/>
        <label for="firstname">First name</label>
      </span>
    </div>

    <div class="field col-12 md:col-6">
      <span class="p-float-label">
        <input pInputText type="text" id="lastname" formControlName="lastName"/>
        <label for="lastname">Last name</label>
      </span>
    </div>

  </div>

  <div class="formgrid grid">

    <div class="field col-12 md:col-4">
      <span class="p-float-label">
        <input pInputText type="email" id="mail" formControlName="eMail"/>
        <label for="mail">E-mail</label>
      </span>
    </div>

    <div class="field col-12 md:col-4">
      <span class="p-float-label">
        <input pInputText type="password" id="password" formControlName="pWord"/>
        <label for="password">Password</label>
      </span>
    </div>

    <div class="field col-12 md:col-4">
      <span class="p-float-label">
        <input pInputText type="password" id="conf-password" formControlName="pWordConf" [class.ng-invalid]="formGroup.errors?.['PasswordMismatch']"/>
        <label for="conf-password">Confirm password</label>
      </span>
    </div>

  </div>

  <div class="formgrid grid">

    <div class="field col-12">
      <span class="p-float-label">
        <input pInputText type="text" id="adress" formControlName="address">
        <label for="adress">Address</label>
      </span>
    </div>

  </div>

  <div class="formgrid grid">

    <div class="field col-12 md:col-6">
      <span class="p-float-label">
        <input pInputText type="text" id="phone" formControlName="phone">
        <label for="phone">Phone number</label>
      </span>
    </div>

    <div class="field col-12 md:col-6">
      <span class="p-float-label">
        <p-calendar id="bdate" formControlName="birthday" [showIcon]="true" [style]="{'width':'100%'}"/>
        <label for="bdate">Birth date</label>
      </span>
    </div>

  </div>

  <h3>Hobbies</h3>

  <div class="formgrid grid" formArrayName="myArray">

    <div *ngFor="let item of getArray.controls ; let i = index" class="field col-12 md:col-4 flex">
      <input type="text" pInputText [formControlName]="i" class="mr-1"/>
      <p-button icon="pi pi-trash" severity="danger" (onClick)="removeArrayEl(i)"/>
    </div>

    <div *ngIf="getArray.controls.length === 0">
      <p>Empty</p>
    </div>


  </div>

  <div class="formgrid">
    <p-button label="add" (onClick)="addArrayEl()"/>
  </div>

  <div class="formgrid">
    <p-button icon="pi pi-check" label="Sumbit" [disabled]="!formGroup.valid"  (onClick)="submitForm()"/>
  </div>

</form>















