<h3>Shopping list (with service)</h3>

<div class="table">
  <p-table [value]="listService | keyvalue">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:70%">Item</th>
        <th>Qty</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-article let-index = "rowIndex">
      <tr>
        <td> {{ article.key }} </td>
        <td> {{ article.value }} </td>
        <td> <p-button icon="pi pi-trash" severity="danger" (onClick)="deleteItem(index)"/> </td>
      </tr>
    </ng-template>
  </p-table>
</div>
