
<div class="form">
  <input type="text" pInputText [(ngModel)]="inputText" (keydown.enter)="submit()"/>
  <p-button
    label="Submit"
    (onClick)="submit()"
  />
</div>

<div class="table">
  <p-table [value]="list">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:70%">Item</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index = "rowIndex">
      <tr>
        <td [class]="{strike: item.done}"><p-checkbox [(ngModel)]="item.done" [binary]="true" /> {{item.name}}</td>
        <td><p-button icon="pi pi-trash" size="small" (onClick)="confirmDelete($event, index, item.name)"/></td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-toast/>
<p-confirmPopup/>
