/* You can add global styles to this file, and also import other style files */
//body{
//  background-color: #131516;
//  color: #CEDADA;
//
//  font-family: sans-serif;
//}
//
.wrapper{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
