.output{
  position: relative;
  list-style: none;
  background-color: #1f2937;
  padding: 1em;
  border: 1px solid #374a62;
  border-radius:.5em;
  p-button{
    position: absolute;
    right: 1em;
  }
}
